/*Limpar fomrataçõs padrão */
*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #e6e6e6;
}

/*Layout */
#area-cabecalho {
  background-color: #000000;
  padding: 15px;
  text-align: center;
}

#area-lateral2{
  position: fixed;
  background: rgb(0, 0, 0);
  border: 6px solid #300346;
  width: 130px;
  height: 98.8%;
  float: left;
}

#area-logo, #area-menu {
  padding: 10px;
}

#area-principal{
  width: 920px;
  margin: 0 auto; /* auto paramargm autoática */
}

#area-postagens, #area-lateral{
  background: #000000;
}

#area-postagens{
  width: 100%;
  float: left; 
}

#area-lateral{
  width: 240px;
  float: right;
}
.divmenu{
  background-color: rgb(0, 0, 0);
  padding-bottom: 30px;
  padding-top: 30px;
}

.postagem{
  padding: 20px;
  margin-bottom: 20px;
  background: white;

}

.postagem2{
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  border-right: 8px solid #000000;
  border-left: 21.7px solid #000000;

}

#rodape {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #CCC;
}

#rodape2 {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #CCC;
  border-right: 8px solid #000000;
  border-left: 25px solid #000000;

}

#leia{
  color: orange;
  padding: 0px;
    }


/*Formatação do menu */
a{
  text-decoration: none;
}
a:link, a:visited{
  color: #ffffff;
  padding: 8px 12px;
}

a[class="evitar-hover-border-em-a-para-img"]:hover{
  color: rgb(255, 255, 255);
  border: 3px solid purple;
  border-radius: 14px;
  background: #2a0130;

}

.imagem {
  border: 3px solid purple;
  border-radius: 4px;
  padding: 4px;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img:hover {
  box-shadow: 0px 0px 9px 5px palevioletred;
}

/*Formatação em geral */
h1{
  color: #4e4e4e;
  font-size: 2.5em;
  }

.branco {
  color: white;
}
.roxo {
  color: purple;
}


/*area nova AN*/

#an {
  margin-left: 6.9%;
  
}

/*.menucor div:hover{
  background: #ffffff;

}

.evitarhover-a {
  color: #ffffff;
}*/

.evitar-hover-border-em-a-para-img {
  color: white;
}

.evitar-hover-border-em-a-para-img2 {
  color: white;
}