/*Limpar fomrataçõs padrão */
*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #e6e6e6;
}

/*Layout */
#area-cabecalho {
  background-color: #4f8cff;
  padding: 15px;
  text-align: center;
}

#area-lateral2{
  position: fixed;
  background: rgb(101, 158, 243);
  border: 6px solid #4f8cff;
  width: 130px;
  height: 1200px;
  float: left;
}

#area-logo, #area-menu {
  padding: 10px;
}

#area-principal{
  width: 920px;
  margin: 0 auto; /* auto paramargm autoática */
}

#area-postagens, #area-lateral{
  background: #4f8cff;
}

#area-postagens{
  width: 100%;
  float: left; 
}

#area-lateral{
  width: 240px;
  float: right;
}
.divmenu{
  background-color: rgb(101, 158, 243);
  padding-bottom: 30px;
  padding-top: 30px;
}

.postagem{
  padding: 20px;
  margin-bottom: 20px;
  background: white;

}

.postagem2{
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  border-right: 6px solid #4f8cff;

}

#rodape {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #CCC;
}

#rodape2 {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #CCC;
  border-right: 6px solid #4f8cff;

}

#leia{
  color: orange;
  padding: 0px;
    }


/*Formatação do menu */
a{
  text-decoration: none;
}
a:link, a:visited{
  color: #ffffff;
  padding: 8px 12px;
}

a:hover{
  color: #4f8cff;
  border-radius: 14px;
  background: #ffffff;

}

.imagem {
  border: 3px solid #4f8cff;
  border-radius: 4px;
  padding: 4px;
}

img:hover {
  box-shadow: 0px 0px 9px 5px rgba(0, 140, 186, 0.5);
}

/*Formatação em geral */
h1{
  color: #4e4e4e;
  font-size: 2.5em;
  }

.branco {
  color: white;
}


/*area nova AN*/

#an {
  margin-left: 6.9%;
  
}

/*.menucor div:hover{
  background: #ffffff;

}

.evitarhover-a {
  color: #ffffff;
}*/